##################################################################################
#############################	IDE Specific Files	##############################
##################################################################################
############### Eclipse ###############
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
/RemoteSystemsTempFiles/
.settings/
.loadpath
.recommenders
.metadata
# Eclipse Core
.project
# External tool builders
.externalToolBuilders/
# JDT-specific (Eclipse Java Development Tools)
.classpath
# Java annotation processor (APT)
.factorypath
# Tern plugin
.tern-project
# TeXlipse plugin
.texlipse
# STS (Spring Tool Suite)
.springBeans
# Code Recommenders
.recommenders/
/.project
/.sts4-cache/

############### Visual Studio Code ###############
.vscode/*
/.vscode/
##################################################################################
################################	Log Files	##################################
##################################################################################
logs/**
/logs/
*.logs
*.log
##################################################################################
########################	Project Specific Files	##############################
##################################################################################
## Build Directories
bin/
target/
*.class
*.MF
/target/
/bin/
target/**
Results/**
test-output/**
## TestNG
.test-output
.Results
#TestNG Output directory
/Results/
/test-output/
/TestCaseRunnerRerun/**
## Excel Editing
~$*.xlsx
## Linux runtime files generated by CSAF and CWB Automation Code
/null/
/C:/
/C:\\dump/
/C:\\PerformanceMetrics/
/C:\\temp\\SummaryReport.log
/C:\\Attachment\\text.txt
/.checkstyle
*.mdmp
/VMS.iml
